/* // MIT License
//
// Copyright 2021 Mohammad Jawad Moshati Hamadani
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE. */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --main-bg-color: #3f51b5;
  --secondary-bg-color: #e9ecef;
}
body {
  margin: 0;
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background-color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.border {
  border: black solid 1px;
}
.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.sidebars {
  background-color: var(--secondary-bg-color);
  padding-bottom: 5em;
  padding-left: 1em;
  padding-right: 1em;
}
.sidebars h1,
p {
  margin-left: 10px;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: white;
  margin: 0;
  padding: 0;
}
#navbar h1 {
  padding: 0;
  margin: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.flex-taxonomy {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.main-work-space {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-form {
  width: 100%;
  margin-top: 2.5em !important;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
#btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#work-space {
  background-color: #eee;
  display: block;
  min-width: 45em;
  min-height: 8em;
  margin: 1em;
  padding: 0.5em;
}
.flex-morphology {
  display: flex;
  min-width: 100%;
  grid-gap: 0.3em;
  justify-items: center;
  flex-direction: row-reverse;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 5fr 2fr;
  margin-top: 10px;
  grid-gap: 0.3em;
}
.grid-5 {
  display: grid;
  grid-template-columns: 7fr 1fr;
}
.TextField-without-border-radius fieldset {
  border-radius: 0;
}
.flex-row {
  display: "flex";
  width: "80%";
  justify-content: center;
  align-items: center;
}
.icon-flex {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fa-edit {
  color: var(--main-bg-color);
}
.fa-edit:hover {
  cursor: pointer;
  color: #374699;
}
.fa-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  color: var(--main-bg-color);
}
.fa-plus:hover {
  cursor: pointer;
  color: #374699;
}
.morphology-div {
  display: inline-flex;
  align-items: center;
  margin: 0.3em;
  background-color: rgba(11, 156, 49, 0.2);
  padding: 0.2em;
  border-radius: 0.2em;
}
.morphology-div p {
  padding: 0.3em;
  margin: 0;
  font-size: 1.3em;
}
.selected-word-for-morphology {
  display: inline-flex;
  align-items: center;
  margin: 0.3em;
  background-color: rgba(11, 156, 49, 0.2);
  border: solid 2px var(--main-bg-color);
  padding: 0.2em;
  border-radius: 0.2em;
}
.selected-merged-word-for-morphology {
  display: inline-flex;
  align-items: center;
  margin: 0.3em;
  background-color: #99ff99;
  padding: 0.2em;
  border-radius: 0.2em;
  border: solid 2px var(--main-bg-color);
}
.words-container {
  display: flex;
  min-height: 4.6em;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.arrow {
  color: #b8b8b8;
}
.arrow:hover {
  color: #a0a0a0;
  cursor: pointer;
}
.sentences:hover {
  cursor: pointer;
}
.words-input {
  background-color: rgba(11, 156, 49, 0) !important;
  direction: rtl;
  border: none;
  padding: 0.3em;
  font-size: 1.3em;
  outline: none;
}
.words-input:hover {
  cursor: pointer;
}
.words-input-active {
  display: inline-flex;
  align-items: center;
  margin: 0.3em;
  background-color: #99ff99;
  padding: 0.2em;
  border-radius: 0.2em;
  border: solid lightgreen;
}
.undo-redo {
  display: flex;
  flex-direction: row;
  grid-gap: 0.5em;
  justify-content: flex-end;
  color: var(--main-bg-color);
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}
.fa-undo:hover {
  cursor: pointer;
  color: #374699;
}
.fa-undo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  color: var(--main-bg-color);
}
.fa-flag {
  color: var(--main-bg-color);
}
.fa-flag:hover {
  color: #374699;
  cursor: pointer;
}
